/* Import Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --blue-a: #48dbfb;
  --blue-b: #0abde3;
  --light: #dff9fb;
  --deep-rose: #c44569;
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background: var(--light);
  margin: 2rem;
}

form {
  padding: 1.5rem 2rem;
  margin: 0.5rem auto;
}

h1 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Reusable Styles */
.btn {
  cursor: pointer;
  border: 0.5rem solid #fff;
  border-radius: 20rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  background: var(--light);
  color: var(--blue-b);
  outline: none;
}

/* Index Styles */
.main-container {
  max-width: 45rem;
  margin: 5rem auto;
  color: #fff;
}

.main-header {
  text-align: center;
  padding: 2rem;
  background: var(--blue-a);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.main-content {
  padding: 3rem 4rem;
  background: var(--blue-b);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.main-content .form-control {
  margin: 1.5rem 0;
}

.main-content label {
  display: block;
  margin-bottom: 0.5rem;
}

.main-content input[type='text'] {
  font-size: 1.5rem;
  padding: 0.5rem;
  height: 4rem;
  width: 100%;
}

.main-content select {
  font-size: 1.5rem;
  padding: 0.5rem;
  height: 4rem;
  width: 100%;
}

.main-content .btn {
  margin-top: 0.5rem;
}

/* Chat Styles */
.chat-container {
  max-width: 120rem;
  background: #fff;
  margin: 5rem auto;
  border-radius: 1rem;
  overflow: hidden;
}

.chat-header {
  background: var(--blue-a);
  color: #fff;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-main {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
  background: var(--blue-b);
  color: #fff;
  padding: 1.5rem 2rem;
  overflow-y: auto;
}

.chat-sidebar h2 {
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin-bottom: 2rem;
}

.chat-sidebar h3 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.chat-sidebar ul li {
  padding: 1rem 0;
}

.chat-messages {
  padding: 3rem;
  max-height: 35rem;
  overflow-y: auto;
}

.chat-messages .message {
  padding: 1rem;
  margin-bottom: 1rem;
  background: var(--light);
  border-radius: 5px;
}

.chat-messages .message .user-chat {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--blue-b);
  opacity: 0.7;
  border-bottom: 1px solid var(--blue-b);
  margin-bottom: 0.7rem;
}

.chat-messages .message .user-chat span {
  color: var(--deep-rose);
  font-size: 1rem;
}

.input-chat-wrap {
  padding: 2rem 3rem;
  background: var(--blue-a);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.input-chat-wrap form {
  display: flex;
}

.input-chat-wrap input[type='text'] {
  font-size: 1.5rem;
  padding: 2.5rem 3rem;
  height: 4rem;
  flex: 1;
  margin-right: 2rem;
}

/* Responsive Styles */
@media only screen and (max-width: 70rem) {
  .chat-sidebar {
    display: none;
  }
  .chat-main {
    display: block;
  }
}
